*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(rgb(77, 72, 72), #0c0404);
    color: white;
}
/* NOTE display:flex is used to align items */

/* NOTE padding is used to controlling navigation bar */

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background: radial-gradient(#751f10, #0c0404);
}
/* NOTE flex is used to make it responsive and absorve extra space */

nav{
    flex: auto; 
    text-align: right;
    
}
/* NOTE inline-block allows to use width and heigh element. */

nav ul{
    display: inline-block;
    list-style-type: none;
    
}

/* NOTE margin-right is used to create space within text */

nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}

a{
    text-decoration: none;
    color:white;
}

p{
    color: #555;
}

/* NOTE layout for the whole website */

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;    
    background: radial-gradient(rgb(77, 72, 72), #0c0404);
}
/* NOTE flex wrap is used make the elements(picture) into 1 line.*/
/* NOTE justify-content it focus the space-around for the content */

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    color: white;
    text-align: center;
}

.col-2 h1{
    text-shadow: 2px 4px black;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{ 
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    
}

.col-2 p{
    color: white;
}

.btn{   
    display: inline-block;
    background: radial-gradient(#751f10, #0c0404);
    color: #fff;
    padding:8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}



.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: white;
}
/* NOTE  */
.title::after{
    content: '';
    background-color: black;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: white;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
    color: white;
}

.col-4:hover{
    transform: translateX(-5px);
}

h3{
    text-align: center;
}

.category{
    text-align: center;
    
}

.category .btn{
width: 15%;
height: auto;
}

.shopheader{
    text-align: center;
    
}